*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --hue: 300;
  --saturation: 50%;
  --foregroundColor: hsl(var(--hue), var(--saturation), 75%);
  --backgroundColor: hsl(var(--hue), var(--saturation), 20%);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  overflow: hidden;
}

.paddle {
  --topPosition: 50;

  position: absolute;
  background-color: var(--foregroundColor);
  top: calc(var(--topPosition) * 1vh);
  transform: translateY(-50%);
  width: 1vh;
  height: 10vh;
}

.paddle.left {
  left: 1vw;
}

.paddle.right {
  right: 1vw;
}

.ball {
  --x: 50;
  --y: 50;

  display: none;

  position: absolute;
  background-color: var(--foregroundColor);
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 2.5vh;
  height: 2.5vh;
}

.score {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh;
  color: var(--foregroundColor);
}

.score > * {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 2vh;
  margin: 1vh 0;
  opacity: 0.5;
}

.score > :first-child {
  text-align: right;
  border-right: 0.5vh solid var(--foregroundColor);
}

.start-button {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: inherit;
  border: none;
  color: var(--foregroundColor);
  opacity: 0.5;
  font-size: 15vh;
  cursor: pointer;
}
